<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="index.html">
      <img class="brand__logo" src="assets/images/Cotton_Collegiate_logo.jpg" alt="Cotton Collegiate Govt. H.S. School logo">
      <span class="brand__text">
        <span class="brand__title">Cotton Collegiate Govt. H.S. School</span>
        <span class="brand__subtitle">Alumni Association Portal</span>
      </span>
    </a>
    <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <nav class="main-nav" aria-label="Primary navigation">
      <ul class="nav-list">
        <li><a href="index.html" data-nav-key="home">Home</a></li>
        <li class="has-submenu">
          <a href="about.html" data-nav-key="about">About</a>
          <ul class="submenu">
            <li><a href="about.html" data-subnav-key="about">School Story</a></li>
            <li><a href="vision-mission.html" data-subnav-key="vision-mission">Vision and Mission</a></li>
          </ul>
        </li>
        <li><a href="alumni.html" data-nav-key="alumni">Alumni</a></li>
        <li class="has-submenu">
          <a href="events.html" data-nav-key="programs">Programs</a>
          <ul class="submenu">
            <li><a href="events.html" data-subnav-key="events">Events</a></li>
            <li><a href="odaa.html" data-subnav-key="odaa">ODAA</a></li>
          </ul>
        </li>
        <li><a href="membership.html" data-nav-key="membership">Membership</a></li>
        <li><a href="student-services.html" data-nav-key="student-services">Student Services</a></li>
        <li><a href="contact.html" data-nav-key="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
