<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="index.html">
      <img class="brand__logo" src="assets/images/Cotton_Collegiate_logo.jpg" alt="Cotton Collegiate Govt. H.S. School logo">
      <span class="brand__text">
        <span class="brand__title">Cotton Collegiate Govt. H.S. School</span>
        <span class="brand__subtitle">Alumni Association Portal</span>
      </span>
    </a>
    <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <nav class="main-nav" aria-label="Primary navigation">
      <ul class="nav-list">
        <li><a href="index.html" data-nav-key="home">Home</a></li>
        <li class="has-submenu">
          <a href="about.html" data-nav-key="about">About</a>
          <ul class="submenu">
            <li><a href="about.html" data-subnav-key="about">School Story</a></li>
            <li><a href="vision-mission.html" data-subnav-key="vision-mission">Vision and Mission</a></li>
            <li><a href="governing-council.html" data-subnav-key="governing-council">Governing Council</a></li>
            <li><a href="advisors.html" data-subnav-key="advisors">Advisors</a></li>
            <li><a href="mentors-committee.html" data-subnav-key="mentors-committee">Mentors Committee</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="alumni.html" data-nav-key="alumni">Alumni</a>
          <ul class="submenu">
            <li><a href="alumni.html" data-subnav-key="alumni">Alumni Achievers</a></li>
            <li><a href="who-is-who.html" data-subnav-key="who-is-who">Who is Who Directory</a></li>
            <li><a href="past-presidents.html" data-subnav-key="past-presidents">Past Presidents</a></li>
            <li><a href="alumni-chapters.html" data-subnav-key="alumni-chapters">Alumni Chapters</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="events.html" data-nav-key="programs">Programs</a>
          <ul class="submenu">
            <li><a href="events.html" data-subnav-key="events">Events</a></li>
            <li><a href="odaa.html" data-subnav-key="odaa">ODAA</a></li>
            <li><a href="awards.html" data-subnav-key="awards">Awards</a></li>
            <li><a href="newsroom.html" data-subnav-key="newsroom">Newsroom</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="membership.html" data-nav-key="get-involved">Get Involved</a>
          <ul class="submenu">
            <li><a href="membership.html" data-subnav-key="membership">Membership</a></li>
            <li><a href="giving.html" data-subnav-key="giving">Giving</a></li>
            <li><a href="more.html" data-subnav-key="more">More</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="student-services.html" data-nav-key="student-services">Student Services</a>
          <ul class="submenu">
            <li><a href="student-services.html" data-subnav-key="top-performers">Top Performers</a></li>
            <li><a href="counseling.html" data-subnav-key="counseling">Student Counseling Cell</a></li>
            <li><a href="student-interaction.html" data-subnav-key="student-interaction">Student Interaction</a></li>
          </ul>
        </li>
        <li><a href="contact.html" data-nav-key="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
